@charset "utf-8";
.pmb_error{
color:red;
font-weight:bold;
}
.pmb_wrp{
padding:10px;
}
.pmb_description{
	margin-bottom: 5px;

}
.pmb_button{

}
#sbox-btn-close{
display:none !important;
}
.pmb_submit_pay_blue{
background: #498BCF; /* Old browsers */
background: -moz-linear-gradient(top,  #498BCF 0%, #2A67A8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#498BCF), color-stop(100%,#2A67A8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #498BCF 0%,#2A67A8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #498BCF 0%,#2A67A8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #498BCF 0%,#2A67A8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #498BCF 0%,#2A67A8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498BCF', endColorstr='#2A67A8',GradientType=0 ); /* IE6-9 */
 border: 1px solid #104984;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    padding: 3px 10px;
}
.pmb_submit_pay_blue:hover{
background: #498BCF; /* Old browsers */
background: -moz-linear-gradient(top,  #498BCF 0%, #2A67A8 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#498BCF), color-stop(43%,#2A67A8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #498BCF 0%,#2A67A8 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #498BCF 0%,#2A67A8 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #498BCF 0%,#2A67A8 43%); /* IE10+ */
background: linear-gradient(to bottom,  #498BCF 0%,#2A67A8 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498BCF', endColorstr='#2A67A8',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.pmb_submit_pay_orange{
background: #F4A706; /* Old browsers */
background: -moz-linear-gradient(top,  #F4A706 0%, #E7A02E 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4A706), color-stop(100%,#E7A02E)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #F4A706 0%,#E7A02E 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #F4A706 0%,#E7A02E 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #F4A706 0%,#E7A02E 100%); /* IE10+ */
background: linear-gradient(to bottom,  #F4A706 0%,#E7A02E 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4A706', endColorstr='#E7A02E',GradientType=0 ); /* IE6-9 */
 border: 1px solid #DF6805;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    padding: 3px 10px;
}
.pmb_submit_pay_orange:hover{
background: #F4A706; /* Old browsers */
background: -moz-linear-gradient(top,  #F4A706 0%, #E7A02E 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4A706), color-stop(43%,#E7A02E)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #F4A706 0%,#E7A02E 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #F4A706 0%,#E7A02E 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #F4A706 0%,#E7A02E 43%); /* IE10+ */
background: linear-gradient(to bottom,  #F4A706 0%,#E7A02E 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4A706', endColorstr='#E7A02E',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.pmb_submit_pay_red{
background: #F01010; /* Old browsers */
background: -moz-linear-gradient(top,  #F01010 0%, #A50035 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F01010), color-stop(100%,#A50035)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #F01010 0%,#A50035 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #F01010 0%,#A50035 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #F01010 0%,#A50035 100%); /* IE10+ */
background: linear-gradient(to bottom,  #F01010 0%,#A50035 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F01010', endColorstr='#A50035',GradientType=0 ); /* IE6-9 */
 border: 1px solid #951C1C;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    padding: 3px 10px;
}
.pmb_submit_pay_red:hover{
background: #F01010; /* Old browsers */
background: -moz-linear-gradient(top,  #F01010 0%, #A50035 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F01010), color-stop(43%,#A50035)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #F01010 0%,#A50035 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #F01010 0%,#A50035 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #F01010 0%,#A50035 43%); /* IE10+ */
background: linear-gradient(to bottom,  #F01010 0%,#A50035 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F01010', endColorstr='#A50035',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.pmb_submit_pay_green{
background: #a9db80; /* Old browsers */
background: -moz-linear-gradient(top,  #a9db80 0%, #96c56f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a9db80 0%,#96c56f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
 border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    color: #005700;
    float: right;
    margin-top: 10px;
    padding: 3px 10px;
}
.pmb_submit_pay_green:hover{
background: #a9db80; /* Old browsers */
background: -moz-linear-gradient(top,  #a9db80 0%, #96c56f 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(43%,#96c56f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9db80 0%,#96c56f 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9db80 0%,#96c56f 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9db80 0%,#96c56f 43%); /* IE10+ */
background: linear-gradient(to bottom,  #a9db80 0%,#96c56f 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.pmb_submit_pay_blue2{
background: #00AEEF; /* Old browsers */
background: -moz-linear-gradient(top,  #00AEEF 0%, #3E8ED3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AEEF), color-stop(100%,#3E8ED3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00AEEF 0%,#3E8ED3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00AEEF 0%,#3E8ED3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00AEEF 0%,#3E8ED3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00AEEF 0%,#3E8ED3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AEEF', endColorstr='#3E8ED3',GradientType=0 ); /* IE6-9 */
 border: 1px solid #1C3F95;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    padding: 3px 10px;
}
.pmb_submit_pay_blue2:hover{
background: #00AEEF; /* Old browsers */
background: -moz-linear-gradient(top,  #00AEEF 0%, #3E8ED3 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AEEF), color-stop(43%,#3E8ED3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00AEEF 0%,#3E8ED3 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00AEEF 0%,#3E8ED3 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00AEEF 0%,#3E8ED3 43%); /* IE10+ */
background: linear-gradient(to bottom,  #00AEEF 0%,#3E8ED3 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AEEF', endColorstr='#3E8ED3',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}

.pmb_popup_content{

}
.pmb_popup_head{
margin-bottom: 25px;
}
.pmb_popup_content{

}
.pmb_popup_row{

}
.pmb_popup_submit_row{

}
.pmb_popup_lbl{


}
.pmb_popup_input{    border: 1px solid #A7A7A7;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 6px !important;
    padding: 3px 5px !important;
    width: 93%;}
	
.pmb_popup_input_co{  border: 1px solid #A7A7A7;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 6px !important;
    padding: 3px 5px !important;
    width: 97%;}	
	
.pmb_popup_submit_row, .pmb_popup_submit_row td, .pmb_popup_tbl, .pmb_popup_row td, .pmb_popup_row tr{
  border: medium none !important;
}
.pmb_popup_row{ width:100%; border:none;}
.pmb_popup_row td { width:50%;}
.pmb_popup_payment_input{
    border: 1px solid #A7A7A7;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 6px;
    padding: 3px 5px;
    width:inherit;
}
.pmb_submit_error{
color:red;
font-weight:bold;
}
.pmb_tos_link{
text-decoration: none;
}
a.pmb_tos_link:link {color:#095197;background: none;}      /* unvisited link */
a.pmb_tos_link:visited {color:#095197;background: none;}  /* visited link */
a.pmb_tos_link:hover {color:#095197;background: none;}  /* mouse over link */
a.pmb_tos_link:active {color:#095197;background: none;}  /* selected link */